a {
    text-decoration: none;
    color: #292929;
}

.aboutUsFormBanner {
    background: #e1e1e1;
    text-align: center;
    padding: 60px 10px;
    font-size: 14px;
}

.aboutUsFormBanner span {
    color: #888888;
}

.aboutUsDetails {
    display: flex;
    padding: 30px 20px;
}

.aboutUsDetailsImage {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 50%;
}



.aboutUsDetailsText {
    padding: 5%;
    width: 50%;
}

.aboutUsDetailsText h1 {
    font-size: 34px;
    color: #111;
    font-weight: 600;
}

.aboutUsDetailsText p {
    font-size: 15px;
    color: #777;
    font-weight: 400;
    padding: 20px 0px 40px;
    line-height: 30px;
}

.aboutUsDetailsPlayVideo {
    display: flex;
    cursor: pointer;
    width: max-content;
}


.aboutUsDetailsPlayVideo h1 {
    font-size: 25px;
    color: #111;
    font-weight: 600;
}

.aboutUsDetailsPlayVideo p {
    font-size: 15px;
    color: #111;
    font-weight: 500;
    padding: 0px 10px;
    line-height: 30px;
    transition: all 0.5s;
}

.aboutUsDetailsPlayVideo:hover> p {
    padding-left: 20px;
}

@media screen and (max-width : 900px) {
    .aboutUsDetails {
        flex-direction: column;
    }

    .aboutUsDetailsImage {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;
    }

    .aboutUsDetailsText {
        padding: 5%;
        width: 100%;
    }
}



.testimonialsHeading {
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    padding: 0 0 50px;
}

.testimonials {
    width: calc(100% - 20px);
    max-width: 1250px;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    padding: 20px 10px;
}

.testimonial {
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    cursor: pointer;
}

.testimonialsHeader {
    display: flex;
}

.testimonialsImage {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    margin: auto;
}

.testimonialsImage img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.testimonialsBody p {
    font-size: 16px;
    font-weight: 400;
    padding: 20px 10px 10px;
    line-height: 35px;
}

.testimonial1 {
    grid-column: 1 / 3;
    grid-row: 1;
    background: #f6f6f6;
}

.testimonial2 {
    grid-column: 3;
    grid-row: 1 / 3;
    background: #f6f6f6;
}

.testimonial3 {
    grid-column: 1;
    grid-row: 2;
    background: #f6f6f6;
}

.testimonial4 {
    grid-column: 2;
    grid-row: 2;
    background: #f6f6f6;
}

@media screen and (max-width : 1000px) {
    .testimonial1 {
        grid-column: 1 / 8;
        grid-row: 1;
    }

    .testimonial2 {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    .testimonial3 {
        grid-column: 4 / 8;
        grid-row: 2;
    }

    .testimonial4 {
        grid-column: 1 / 8;
        grid-row: 3;
    }
}

@media screen and (max-width : 800px) {
    .testimonial1 {
        grid-column: 1 / 4;
        grid-row: 1;
    }

    .testimonial2 {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    .testimonial3 {
        grid-column: 1 / 4;
        grid-row: 3;
    }

    .testimonial4 {
        grid-column: 1 / 4;
        grid-row: 4;
    }
}


.playVideoComponent {
    position: fixed;
    background: white;
    width: 90%;
    margin: 0px 5%;
    z-index: 99;
    height: max-content;
    margin-top: 25vh;
}

.playVideoComponent iframe {
    width: 90vw;
    height: 45vw;
}

.playVideoComponentOverlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 98;
}
