.blog-area {
    padding: 20px 10px;
    width: 100%;
    max-width: 1250px;
    margin: auto;
}

.blog-image {
    width: 100%;
}

.blog-image img {
    width: 100%;
}

.blog-details {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
}

.blog-details div {
    font-size: 18px;
    padding: 10px 30px 10px 5px;
    color: #616161;
    min-width: max-content;
}

.blog-details span {
    color: #ff243e;
    margin: 0px 15px 0px 0px;
}

.blog-heading {
    font-size: 30px;
    font-weight: 500;
}

.blog-content h1 {
    color: #14212B;
    font-size: 22px;
    font-weight: 500;
    padding: 30px 0px 5px;
}

.blog-content p {
    padding: 10px 0px;
}